<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loopeer.android.photodrama4android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name=".PhotoDramaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MakeMovieActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"/>

        <activity
            android:name=".ui.activity.ImageSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"/>

        <activity
            android:name=".ui.activity.ImageSegmentEditActivity"
            android:label="@string/label_segment_edit"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"/>

        <activity
            android:name=".ui.activity.TransitionEditActivity"
            android:label="@string/label_transition_edit"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.SubtitleEditActivity"
            android:label="@string/label_subtitle"
            android:theme="@style/AppTheme.Dark"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.TextInputActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <service android:name=".media.audio.MusicService"/>

        <activity
            android:name=".ui.activity.RecordMusicActivity"
            android:label="@string/label_record_audio"
            android:theme="@style/AppTheme.Dark"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.SoundEffectActivity"
            android:label="@string/label_sound_effect"
            android:theme="@style/AppTheme.Dark"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.BgmMusicActivity"
            android:label="@string/label_bgm"
            android:theme="@style/AppTheme.Dark"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.MusicSelectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:label="@string/label_music_select">
        </activity>

    </application>

</manifest>